<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>Poker hands app</h1>
      <div  class="mt-5"><%= link_to "Create a hand", hands_path, method: :post, class: 'btn btn-secondary' %></div>
    </div>
  </div>
</div>
